/* Basic Layout*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box ;
    box-sizing: border-box;

    font-size: 62.5%;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;

    background-color: rgb(31, 30, 30);
    color: white;
}

body{
    height: 300vh;
}

/*Navigation bar*/
.navbar{
    font-size: 6rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-bottom: 100px;
}

.navbar > li > a{
    text-decoration: none;
    font-weight: 300;
}

.navbar > li > a:hover{
    color: rgb(103, 103, 226);
    transition: ease-in 0.15s;
}

/*Main Section*/
main{
    padding-bottom: 200px;
}

main > h2{
    font-size: 2rem;
    font-weight: 400;
}

main > h2 > a{
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
}

main > h2 > a:hover{
    color: rgb(103, 103, 226);
    transition: ease-in 0.15s;
}


/*About Section*/
#about{
    text-align: center;
    padding-bottom: 200px;
}

#about > h1{
    font-size: 3rem;
    font-weight: 300;
}

#about > p{
    font-size: 2rem;
}

#about > h6{
    font-size: 2rem;
    font-weight: 300;
}

#pk{
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    border-radius: 50%;
}

.intro{
    padding-left: 25%;
    padding-right: 25%;
}

/*Footer Section/Ending*/

footer{
    font-size: 3rem;
}

footer > li{
    list-style: none;
}

footer > li > a{
    text-decoration: none;
    font-size: 1.5rem;
}

footer > li > a:hover{
    color: rgb(103, 103, 226);
}


/*Fade animation*/

.reveal{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active{
    transform: translateX(0);
    opacity: 1;
}

